# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.env

# Distribution / packaging
.Python
dist/
build/
egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Log files
*.log

# Streamlit cache
.streamlit/ 